// 消除默认样式

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
li, ul, ol {
    list-style: none;
}
img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    outline: none;
}

a {
    color: #333;
    text-decoration: none;
}

button,
span,
a {
  &:focus {
    outline: none;
  }
}

input {
    -webkit-appearance:none;
}
input::-ms-clear { display: none; }
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}