// 响应式相关样式
@charset "utf-8";

// 假定比例
$basicWidth: 100 !default;

@media screen and (max-width: 320px){
  html {
    font-size: $basicWidth + px
  }
}

@media screen and (min-width: 321px) and (max-width: 375px){
  html {
    font-size: $basicWidth + px
  }
}

@media screen and (min-width: 376px){
  html {
    font-size: $basicWidth + px
  }
}
