// 工具类、function、mixin等布局相关


/* 
* 外边距和内边距
* 使用示例：
  class="m-10 mt-10 mb-10 ml-10 mr-10"
  class="p-10 pt-10 pb-10 pl-10 pr-10"
*/
$mp-begin: 2;
$mp-end: 100;
@for $i from $mp-begin through $mp-end {
  .m {
    &-#{$i} {
      margin: $i+px;
    }

    @each $key, $value in $position {
      &#{$value}-#{$i} {
        margin-#{$key}: $i+px;
      }
    }
  }

  .p {
    &-#{$i} {
      padding: $i+px;
    }
    @each $key, $value in $position {
      &#{$value}-#{$i} {
        padding-#{$key}: $i+px;
      }
    }
  }

  .w {
    &-#{$i} {
      width: $i*10+px !important;
    }
  }
}


/**
* 设置滚动条样式
* .test {
    @include scrollbar(5px, 5px, #424962); 
  }
*/
@mixin scrollbar($width: 0px, $height: 0px, $bg: rgba(0, 0, 0, 0.3)) {
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); 
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: $bg; 
  }
}