// 工具类、function、mixin等文本相关

/* 
* 文字颜色和位置
* 使用示例：
  class="text-success text-danger"
  class="text-center text-right"
*/
.text {
  @each $color, $value in $theme-colors {
    &-#{$color} {
      color: $value;
    }
  }

  @each $align, $value in $aligns {
    &-#{$align} {
      text-align: $value;
    }
  }
}

/* 
* 字体大小
* 使用示例：
  class="ft-16 font-21"
*/

$ft-begin: 12;
$ft-end: 30;

@for $i from $ft-begin through $ft-end {
  .ft,
  .font {
    &-#{$i} {
      font-size: $i+px;
    }
  }
}